.biography-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 28px;
}

.content {
  display: grid;
  gap: 40px;
}

@media (max-width: 800px) {
  .biography-title {
    padding: 24px 0 20px 0;
  }

  .biography-title h1 {
    font-size: 3rem;
    line-height: 1;
  }

  .biography-title img {
    width: 60px;
    height: 56px;
  }

  .content {
    gap: 32px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .biography-title {
    padding-top: 20px;
    padding-bottom: 16px;
  }

  .biography-title h1 {
    font-size: 2rem;
    line-height: 1;
  }

  .biography-title img {
    width: 48px;
    height: 45px;
  }

  .content {
    font-size: 1rem;
    gap: 20px;
  }
}
