.death {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 100px 80px;
  justify-items: left;
  position: relative;
  padding-top: 200px;
  padding-bottom: 420px;
}

.death-year {
  position: absolute;
  top: 700px;
  right: -120px;
}

.death p {
  margin-top: 20px;
}

.death-photo {
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 4px;
  position: relative;
}

.death-stripes {
  display: flex;
}

.death-stripes ul {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 200px;
  height: 100%;
  z-index: -1;
}

.death-stripes ul li {
  width: 2px;
  background: linear-gradient(#E6EAF0, #F5F7FA);
}

@media (max-width: 1450px) {
  .death-stripes ul {
    right: 20px;
  }

  .death-year {
    font-size: 10rem;
    right: 20px;
    top: 760px;
  }
}

@media (max-width: 1000px) {
  .death-year {
    font-size: 3rem;
    top: 175px;
  }

  .death {
    padding-bottom: 120px;
  }
}

@media (max-width: 900px) {

  .death-year,
  .death-stripes ul {
    display: none;
  }

  .death {
    grid-template-columns: 1fr;
    gap: 40px;
    padding-top: 80px;
  }

  .death-photo {
    justify-self: center;
  }
}

@media (max-width: 600px) {
  .death {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .death-content h2 {
    font-size: 1.5rem;
  }

  .death-content p {
    font-size: 1rem;
    margin-top: 12px;
  }
}
