.life {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 100px 80px;
  justify-items: left;
  position: relative;
  padding-top: 180px;
  padding-bottom: 420px;
}

.life-year {
  position: absolute;
  top: 920px;
  right: -120px;
}

.life h1 {
  grid-column: 1/-1;
}

.life p {
  margin-top: 20px;
}

.life-photo {
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 4px;
  position: relative;
}

.life-photo::before {
  content: "";
  width: 360px;
  height: 518px;
  display: block;
  background: var(--gradient);
  position: absolute;
  top: -8px;
  left: -8px;
  border-radius: 4px;
  z-index: -1;
}

.life-stripes {
  position: relative;
  display: flex;
}

.life-stripes ul {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 200px;
  height: 100%;
  z-index: -1;
}

.life-stripes ul li {
  width: 2px;
  background-color: var(--gray-2);
}

@media (max-width: 1450px) {
  .life-year {
    font-size: 10rem;
    right: 20px;
    top: 960px;
  }

  .life-stripes ul {
    right: 20px;
  }
}

@media (max-width: 1000px) {
  .life-year {
    font-size: 3rem;
    top: 500px;
  }

  .life {
    padding-bottom: 120px;
  }
}

@media (max-width: 900px) {

  .life-year,
  .life-stripes ul {
    display: none;
  }

  .life {
    grid-template-columns: 1fr;
    gap: 40px;
    padding-top: 80px;
  }

  .life-photo {
    justify-self: center;
  }
}

@media (max-width: 600px) {
  .life {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .life h1 {
    font-size: 2rem;
  }

  .life-content h2 {
    font-size: 1.5rem;
  }

  .life-content p {
    font-size: 1rem;
    margin-top: 12px;
  }

  .life-photo::before {
    max-width: 100%;
    height: 30px;
    top: -8px;
    left: 0px;
    border-radius: 4px;
  }
}
